@import url(./__caption/popup-image__caption.css);
@import url(./__image/popup-image__image.css);
@import url(./__container/popup-image__container.css);
.popup-image{
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear; 
}
