.footer{
    color: #545454;
    margin: 66px auto 60px;
    width: 80%;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 122%;
}
@media screen and (max-width: 800px){
    .footer{
        width: 90%;
        font-size: .9rem;
        margin: 48px auto 36px;
    }
}